#colour-key {
    margin-left: 50px;
}

#colour-key div {
    width: 10%;
    border: 1px #ababab solid;
    padding: 2px 0 0 6px;
    float: left;
    margin: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #efefef;
}

span.key {
    height: 20px;
}

.aurora {
    background-color: rgba(98, 100, 242, 0.5);
}

.nightly {
    background-color: rgba(81, 180, 93, 0.5);
}

#output {
    display: none;
}